<form [formGroup]="userForm" (ngSubmit)="EditarUsuario(this.id, this.data)">
    <mat-card>
        <mat-card-content>

            <mat-form-field class="mat-50">
                <label>Nome</label>
                <input matInput formControlName="nome">
            </mat-form-field>

            <mat-form-field class="mat-50">
                <label>Sobrenome</label>
                <input matInput formControlName="sobrenome">
            </mat-form-field>
            
            <mat-form-field class="mat-50">
                <label>País</label>
                <mat-select formControlName="pais">
                    <mat-option [value]="item" *ngFor="let item of pais">{{item}}</mat-option>
                </mat-select>
                <!-- <input matInput -->
            </mat-form-field>

            <mat-form-field class="mat-50">
                <label>Endereço</label>
                <input matInput formControlName="endereco">
            </mat-form-field>

            <mat-form-field class="mat-50">
                <label>Complemento</label>
                <input matInput formControlName="complemento">
            </mat-form-field>

            <mat-form-field class="mat-50">
                <label>Email</label>
                <input matInput formControlName="email">
            </mat-form-field>

            <mat-form-field>
                <label>Telefone</label>
                <input matInput formControlName="telefone">
            </mat-form-field>

            <mat-form-field class="mat-50">
                <label>Senha Atual</label>
                <input matInput formControlName="senha" type="current-password">
            </mat-form-field>

            <mat-form-field class="mat-50">
                <label>Nova Senha</label>
                <input matInput formControlName="novasenha" type="new-password">
            </mat-form-field>


            <mat-card-footer>
                <div style="text-align: right; margin: 2%;">
                    <button mat-raised-button color="primary">Salvar Usuário</button>
                    <button mat-raised-button color="warn" (click)="ClosePopUp()">Fechar Editor</button>
                </div>
            </mat-card-footer>

        </mat-card-content>
    </mat-card>
</form>