<mat-card>
    <mat-card-header>
        <h1 style="align-items: center; font-weight: bold;">Treinos e Mais Treinos</h1>
    </mat-card-header>
    <mat-card-content>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel accumsan enim. Cras quis dapibus justo. Phasellus ac velit eu eros lobortis viverra. Aenean eu sapien ultricies, congue felis quis, fringilla nisl. Phasellus aliquam, sem et tristique vulputate, ante urna bibendum tellus, vel ornare felis mi a mauris. Sed bibendum felis nisl, vel posuere dolor dapibus eget. Suspendisse cursus libero at augue porttitor placerat. Suspendisse vestibulum dui in massa efficitur molestie. Quisque congue nunc vel metus ornare hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam ullamcorper laoreet sem non porta. Nulla feugiat turpis sed ex porta, a fringilla neque pretium. Pellentesque eu mollis metus, vel sollicitudin risus. Sed aliquam dictum ligula at semper. Cras placerat accumsan nisi, quis elementum nunc lacinia et.

            Vestibulum vestibulum maximus ullamcorper. Nullam pretium bibendum urna, at convallis justo lacinia vel. Mauris commodo libero in augue elementum egestas. Maecenas nec mauris pretium, dapibus urna eget, consequat elit. Aliquam aliquet nisl neque, sed eleifend ipsum sollicitudin vitae. Etiam justo metus, tristique eu nisi eget, luctus consectetur erat. Curabitur faucibus, diam nec laoreet rutrum, tellus lorem tristique elit, eget condimentum mauris purus ut velit. Phasellus dictum tempor erat vitae iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam sit amet nunc nec orci aliquam lobortis non sed nibh. Suspendisse auctor placerat ante sed maximus. Nulla facilisi. Donec lacinia tellus et auctor malesuada. Etiam ligula orci, volutpat ac porta luctus, condimentum eget diam. Vivamus lorem felis, gravida et porttitor a, posuere eget dui. Mauris gravida lacus id ipsum dignissim bibendum.</p>

    </mat-card-content>
</mat-card>
