<mat-card>
    <mat-card-header>
        <h1 style="align-items: center; font-weight: bold;">Treinos e Mais Treinos</h1>
    </mat-card-header>
    <mat-card-content>
        <p>
            Front concluído com sucesso, totalmente funcional e responsivo, funciona normalmente no web e também no mobile, formulários estão passando dados no console.log, função de adicionar, editar, e excluir blog estão funcinando também, só não salva pois não possui back-end AINDA!
        </p>

    </mat-card-content>
</mat-card>
