<mat-card>
    <mat-card-header>
        <h1 style="font-weight: bold;">Treinos e Mais Treinos</h1>
    </mat-card-header>

    <br>
    <br>
    <br>
    <mat-card-content>
        <p>
            FRONT CONCLUÍDO, AO DECORRER  DA SEMANA IR FAZENDO A FUNÇÃO DE EDITAR USUÁRIO, FORMULÁRIO E TABELAS FUNCIONANDO, FORMULÁRIO ESTÁ PASSANDO TODAS SUAS INFORMAÇÕES PARA A TABELA. A FUNÇÃO DE EXCLUIR USUÁRIO NA TABELA TAMBÉM ESTÁ FUNCIONANDO.
        </p>
        <br>
        <br>

        <p style="font-weight: bold;">
           Falta fazer o Edit Usuário para ficar 100% pronto, de resto está  praticamente feito, faltam alguns ajustes Mobile só, como nos tamanhos dos botões
                </p>
        <br>
        <br>

        <p style="font-weight: bold; font-style: italic;">
           FALTA EDIT USUÁRIO, TENTAR FAZER DE TARDE
        </p>
    </mat-card-content>
</mat-card>
