<form>
    <mat-card>
        <mat-card-content>

            <mat-form-field class="mat-50">
                <label>Nome</label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <label>Sobrenome</label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <label>Endereço</label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <label>Complemento</label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <label>País</label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <label>Telefone</label>
                <input matInput>
            </mat-form-field>

            <div>

                <mat-radio-group color="primary" formControlName="gender">
                    <mat-radio-button value="Masculino">Masculino</mat-radio-button>
                    <mat-radio-button value="Feminino">Feminino</mat-radio-button>
                    <mat-radio-button value="Outros">Prefiro não informar</mat-radio-button>
                </mat-radio-group> 

            </div>

            <div class="pao">
                <strong><label>Compra Pão Pós Rolê?</label></strong>
                <mat-checkbox style="display: flex; text-align: left;" color="warn">Sim</mat-checkbox>
            </div>

        </mat-card-content>
    </mat-card>
</form>