<mat-toolbar class="mat-elevation-z8" color="primary">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>  
    <span>Treinando NGRX</span>
    <span class="span-spacer"></span>
    <button mat-button routerLink="">Home</button>
    <button mat-button routerLink="usuarios">Usuários</button>
    <button mat-button routerLink="blog">Blog</button>
</mat-toolbar>


<mat-drawer-container autosize>
    <mat-drawer #drawer opened="false" mode="over">
        <mat-nav-list>
            <mat-list-item>
                <button mat-button style="background: none;" routerLink=""><mat-icon>home</mat-icon>Home</button>
            </mat-list-item>
        </mat-nav-list>
        <mat-nav-list>
            <mat-list-item>
                <button mat-button style="background: none;" routerLink="formulario"><mat-icon>person_add</mat-icon>Formulário</button>
            </mat-list-item>
        </mat-nav-list>
        <mat-nav-list>
            <mat-list-item>
                <button mat-button style="background: none;" routerLink="usuarios"><mat-icon>person</mat-icon>Usuários</button>
            </mat-list-item>
        </mat-nav-list>
        <mat-nav-list>
            <mat-list-item>
                <button mat-button style="background: none;" routerLink="contador"><mat-icon>exposure</mat-icon>Contador</button>
            </mat-list-item>
        </mat-nav-list>
        <mat-nav-list>
            <mat-list-item>
                <button mat-button style="background: none;" routerLink="blog"><mat-icon>list_alt</mat-icon>Blog</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>


<mat-drawer-content>
    <div style="text-align: center;height: 93.8vh; ">

        <router-outlet></router-outlet>
    </div>
</mat-drawer-content>
</mat-drawer-container>


<!-- 
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side">
        <mat-nav-list>
            <mat-list-item>
                <button routerLink="" mat-button><mat-icon>home</mat-icon>Home</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="formulario" mat-button><mat-icon>list</mat-icon>Formulário</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="blog" mat-button><mat-icon>dashboard</mat-icon>Blogs</button>
            </mat-list-item>
                
                    <mat-list-item>
                        <button routerLink="usuarios" mat-button><mat-icon>contacts</mat-icon>Usuários</button>
                    </mat-list-item>
                    <mat-list-item>
                        <button mat-button><mat-icon>settings</mat-icon>Settings</button>
                    </mat-list-item>
                    <mat-nav-list>
                        <mat-list-item>
                            <button mat-button><mat-icon>help</mat-icon>Help</button>
                        </mat-list-item>
                        <mat-nav-list>
                            <mat-list-item>
                                <button mat-button><mat-icon>analytics</mat-icon>Analytics</button>
                            </mat-list-item>
                        </mat-nav-list>
                    </mat-nav-list>
                </mat-nav-list>
           
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;height: 91.4vh;">

            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container> -->